:root {
  /*--settings_border_color_1: rgba(157, 174, 255, 0.76);*/
  --settings_border_color_1: #213547;
}

.settings {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url('/images/settings.png');
  background-size: cover;
  font-family: 'Press Start 2P', 'Courier New', monospace !important;
}
.settings_title {
  position: absolute;
  top: 50px;
  left: 30px;
  font-size: 32px;
}
.back_home {
  font-size: 1rem;
  /*font-family: Montserrat, Arial, sans-serif;*/
  font-weight: 400;
  line-height: 1.5;
  font-size: 24px;
  opacity: 0.8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  position: fixed;
  left: 30px;
  top: 25px;
  text-decoration: none;
  color: #050505;
}
.back_home:hover {
  text-decoration: underline;
}
.back_home svg {
  transform: scale(2) rotate(180deg);
  margin-right: 24px;
}
.settings_inside {
  font-size: 1rem;
  /*font-family: Montserrat, Arial, sans-serif;*/
  font-weight: 400;
  line-height: 1.5;
  padding: 140px 0 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.settings_inside_lang {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.settings_inside_lang_types {
  display: flex;
}
.settings_inside_lang_types_btn {
  border: 1px solid var(--settings_border_color_1);
  padding: 3px 15px;
  box-sizing: border-box;
  cursor: pointer;
  border-left: 0px solid var(--settings_border_color_1);
}
.settings_inside_lang_types :first-child {
  border-radius: 100px 0px 0px 100px;
  border-right: 1px solid var(--settings_border_color_1);
  border-left: 1px solid var(--settings_border_color_1);
}
.settings_inside_lang_types :last-child {
  border-radius: 0px 100px 100px 0px;
  border-left: 0px solid var(--settings_border_color_1);
}
.settings_inside_lang_types_btn_selected {
  background: rgba(157, 174, 255, 0.64);
}
.settings_inside_lang_title {
  width: 300px;
}
.settings_inside_links {
  display: flex;
}
.settings_inside_links {
  display: flex;
  gap: 32px;
  margin-top: 0;
}
.settings_inside_links_first_of_type {
  margin-top: 20px;
}
.settings_inside_links_btn {
  /*color: #0080ff;*/
  color: #050505;
  font-weight: 600;
  text-decoration: underline;
}
.settings_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings_card {
  margin-top: 100px;
  height: 500px;
  width: 800px;
  color: #050505;
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12.5px );
  -webkit-backdrop-filter: blur( 12.5px );
  border-radius: 10px;
  display: flex;
  align-content: center;
  flex-direction: column;

}