.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background: #16222A;*/
    /*background: -webkit-linear-gradient(to left, #16222A, #3A6073);*/
    /*background: linear-gradient(to left, #16222A, #3A6073);*/

    background-size: cover;
    pointer-events: none;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.close {
    animation-name: tv-close;
}

.open {
    animation-name: tv-open;
}

@keyframes tv-close {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes tv-open {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}